<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="_content/Radzen.Blazor/css/material-base.css" />
    <link rel="stylesheet" href="css/app.css" />
    <link href="_content/Syncfusion.Blazor.Themes/material.css" rel="stylesheet" />
    <link rel="stylesheet" href="NavTour.Server.styles.css" />
    <HeadOutlet />
</head>
<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js"></script>
    <script src="_content/Syncfusion.Blazor.Core/scripts/syncfusion-blazor.min.js" type="text/javascript"></script>
    <script src="js/interop.js"></script>
    <script src="js/frame-editor-bridge.js"></script>
    <script src="js/player-interop.js"></script>
</body>
</html>
