<footer class="mkt-footer">
    <div class="mkt-container">
        <div class="mkt-footer-grid">
            <div class="mkt-footer-col">
                <h4>Product</h4>
                <a href="/features">Features</a>
                <a href="/pricing">Pricing</a>
                <a href="/docs">Documentation</a>
            </div>
            <div class="mkt-footer-col">
                <h4>Solutions</h4>
                <a href="/use-cases#sales">For Sales</a>
                <a href="/use-cases#marketing">For Marketing</a>
                <a href="/use-cases#cs">For Customer Success</a>
            </div>
            <div class="mkt-footer-col">
                <h4>Company</h4>
                <a href="/about">About</a>
                <a href="/blog">Blog</a>
                <a href="/contact">Contact</a>
            </div>
            <div class="mkt-footer-col">
                <h4>Legal</h4>
                <a href="#">Privacy Policy</a>
                <a href="#">Terms of Service</a>
            </div>
        </div>
        <div class="mkt-footer-bottom">
            <p>&copy; 2026 P4 Software | Grupo Barrdega. All rights reserved.</p>
        </div>
    </div>
</footer>
