@inherits LayoutComponentBase

<link rel="stylesheet" href="css/marketing.css" />

<div class="mkt">
    <a href="#main-content" class="mkt-skip-link">Skip to content</a>
    <MarketingHeader />
    <main id="main-content">
        @Body
    </main>
    <MarketingFooter />
</div>
